body {
    font-family: 'Overpass';
    height: 100vh;
    color: white;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

button {
    border: 0px;
}

h2 {
    margin: 0px;
    font-weight: 400;
}

p {
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    color: hsla(217, 12%, 63%, 0.822);
    line-height: 25px;
}

.hide {
    display: none !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-component {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: hsl(210, 19%, 15%);
    max-width: 430px;
    height: 410px;
}

    .row {
        margin: 25px 40px 0px 40px;
    }

        .row.first {
            margin-top: 35px;
        }

        .row.third {
            display: flex;
            justify-content: space-between;
        }

        .row.fourth {
            margin-top: 30px;
        }

            .row.fourth button {
                width: 100%;
                height: 45px;
                border: none;
                background-color: hsl(25, 97%, 53%);
                color: white;
                letter-spacing: 2px;
                font-size: 14px;
                border-radius: 25px;
            }

            .row.fourth button:hover {
                cursor: pointer;
                background-color: white;
                color: hsl(25, 97%, 53%);
            }

    .circle-bg {
        font-size: 15px;
        font-weight: bold;
        color: hsla(217, 12%, 63%, 0.822);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color:  hsla(216, 12%, 54%, 0.13);
    }

        .third .circle-bg:hover {
            cursor: pointer;
            background-color: hsl(25, 97%, 53%);
            color: white ;
        }

        .third .circle-bg:focus {
            background-color: hsl(217, 12%, 63%);
            color: white ;
        }

.text-center {
    text-align: center;
}

.last-row {
    margin-bottom: 35px;
}

.rating {
    background-color: hsla(216, 12%, 54%, 0.13);
    border-radius: 20px;
}

.rating p {
    margin: 15px;
    color: hsla(25, 97%, 53%);
    line-height: 15px;
}